<div class="jumbotron mt-4">
    <h1 class="display-4">Sistema de Carnetización</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur sapiente maiores molestias
        nihil provident
        debitis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur sapiente maiores molestias nihil provident
        debitis.</p>
</div>