<div class="contenedor">

	<!-- Tarjeta -->
	<section class="tarjeta" id="tarjeta">
		<div class="delantera">
			<div class="logo-marca" id="logo-marca">
				<img src="/img/chip-tarjeta.png" class="chip" alt="">
			</div>
			<div class="datos">
				<div class="grupo" id="numero">
					<p class="label">Número Tarjeta</p>
					<p class="numero">#### #### #### ####</p>
				</div>
				<div class="flexbox">
					<div class="grupo" id="nombre">
						<p class="label">Nombre Tarjeta</p>
						<p class="nombre">Jhon Doe</p>
					</div>

					<div class="grupo" id="expiracion">
						<p class="label">Expiracion</p>
						<p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Contenedor Boton Abrir Formulario -->
	<button class="btn btn-success btn-block oculto-impresion" onclick="imprimir()">
		Print PDF
	</button>

</div>