/* --------------------------------------------------------------------------------------------------------------------- */
:root {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #1488CC;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
	width: 50%; 
	/* border-radius: 50%; */
}

/* -------------------------- scrollbar -------------------------- */
body::-webkit-scrollbar {
	width: 0.30rem;
}

body::-webkit-scrollbar-track {
	background: rgb(35, 35, 35);
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

/* -------------------------- scrollbar -------------------------- */

/* -------------------------- dropdown Navbar -------------------------- */
.navbar {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.navbar .nav-item .nav-link {
	color: white;
}

.dropdown-item {
	font-size: 14px;
	color: white;
}

/* -------------------------- dropdown Navbar -------------------------- */



/* -------------------------- search box -------------------------- */

.has-search .form-control {
	position: relative;
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 1.375rem;
	height: 1.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
	left: 1.7rem;
	top: 1.2rem;
}

/* -------------------------- dropdown Navbar -------------------------- */


/* ---------------------------------------------------- Cosas para la impresion ---------------------------------------------------- */
.card-carnet {
	background: rgb(226, 40, 142);
} 

.carnet .delantera {
	/* The image used */
	background-image: url(../img/templates/template.png) !important;
	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

* {
	-webkit-print-color-adjust: exact !important;
	/* Chrome, Safari */
	color-adjust: exact !important;
	/*Firefox*/
}

@media print {
	@page {
		size: 54mm 86mm;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 200px;
		margin-bottom: 0px;
		margin: 0;
		-webkit-print-color-adjust: exact;
	}
}

@media print {

	.oculto-impresion,
	.oculto-impresion * {
		display: none !important;
	}
}

/* ---------------------------------------------------- Cosas para la impresion ---------------------------------------------------- */












/* ---------------------------------------------------- View Carnet ---------------------------------------------------- */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.contenedor {
	width: 100%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Estilos Generales de las Carnets ----------*/
.carnet {
	width: 100%;
	max-width: 550px;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.carnet.active {
	transform: rotateY(180deg);
}

.carnet>div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Carnet Delantera ----------*/

/* .carnet .delantera {
	width: 100%;
	background: url(../img/bg-carnet/bg-carnet-02.jpg);
	background-size: cover;
} */







.photo {
	width: 100%;
	max-width: 8rem;
}

.delantera .photo {
	text-align: right;
	min-height: 50px;
}

.delantera .photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
	margin-bottom: 20px;
}
 













.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* ---------- Container Boton ----------*/
.container-btn .btn-print {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px; 
	background: #3B3B3B;
	color: #fff;
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(40, 40, 40, 0.5);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.container-btn .btn-print:hover {
	background: rgb(35, 35, 35);
}



/* ---------------------------------------------------- View Carnet ---------------------------------------------------- */