<div class="container container-signin">
  <div class="row row-signin">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-signin">

      <div class="card">

        <div class="card-header text-center">
          <img class="icon" src="/img/logos/icon.png" alt="Logo">
          <h3 class="tittle">Registar Usuario</h3>
        </div>

        <div class="card-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <input required autofocus type="text" class="form-control" name="usuario" placeholder="Usuario"
                maxlength="20" autocomplete="off" value="{{usuario}}">
            </div>
            <div class="form-group">
              <input required type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <div class="form-group">
              <input required type="password" class="form-control" name="confirm" placeholder="Confirmar contraseña">
            </div>

            <div class="form-group">
              <select class="custom-select" name="permission">
                {{#if permission}}
                <option disabled>Permiso seleccionado</option>
                <option selected value="{{permission}}">{{permission}}</option>
                <option disabled>Permisos del usuario</option>
                <option value="Admin">Admin</option>
                <option value="Edit">Edit (Puede Editar e Imprimir) </option>
                <option value="Read">Read (Solo puede Imprimir)</option>
                {{else}}
                <option disabled selected>Permisos del usuario</option>
                <option value="Admin">Admin</option>
                <option value="Edit">Edit (Puede Editar e Imprimir) </option>
                <option value="Read">Read (Solo puede Imprimir)</option>
                {{/if}}
              </select>
            </div>

            <div class="button">
              <button class="btn btn-success btn-block">
                Registrar
              </button>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>