<div class="container container-signin">
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 p-auto m-auto justify-content-center align-self-center">

      <div class="card text-center">

        <div class="card-header">
          <img class="icon" src="/img/logos/icon.png" alt="Logo">
          <h3 class="tittle text-center"> Carnet System </h3>
        </div>
        <div class="card-body">
          <h6 class="subtittle text-center"> Alcaldia Bolivariana del Caroní</h6>
          <form action="/signin" method="POST">
            <div class="form-group">
              <input required type="text" class="form-control" name="username" placeholder="UserName" autofocus>
            </div>
            <div class="form-group">
              <input required type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="button">
              <button class="btn btn-success btn-block">
                Signin
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>