<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Account Register
      </div>
      <div class="card-body">
        <form action="/signup" method="POST">
          <div class="form-group">
            <input required type="text" class="form-control" name="username" placeholder="UserName"
              value="{{username}}">
          </div>
          <div class="form-group">
            <input required type="password" class="form-control" name="password" placeholder="Password"
              value="{{password}}">
          </div>
          <div class="form-group">
            <input required type="password" class="form-control" name="confirm" placeholder="Confirm Password"
              value="{{confirm}}">
          </div>

          <div class="form-group">
            <select class="custom-select" name="permission">
              <option selected>User Permissions</option>
              <option value="Admin">Admin</option>
              <option value="Edit">Edit</option>
              <option value="Read">Read</option>
            </select>
          </div>

          <button class="btn btn-primary btn-block">
            Signup
          </button>
        </form>
      </div>
    </div>
  </div>
</div>