<div class="row row-users">
    {{#each data}}
    <div class="col-md-2 col-users">
        <div class="card card-users">
            <div class="card-body">

                <h5 class="card-title">
                    {{capitalize dataValues.username}}
                    <a href="/users/edit/{{dataValues.id}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </h5>

                <p> Permisos de {{dataValues.permission}} </p>

                <!-- DELETE REQUEST -->
                <form action="/users/delete/{{dataValues.id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                </form>

            </div>
        </div>
    </div>
    {{/each}}
</div>